<ion-content class="ion-padding" fullscreen="true">
    <ion-slides pager="true" [options]="slideOption">
        <ion-slide>
            <h1>first slide</h1>
            <p>this is first slide of the slides</p>
        </ion-slide>
        <ion-slide>
            <h1>second slide</h1>
            <p>this is second slide of the slides</p>
        </ion-slide>
        <ion-slide>
            <h1>third slide</h1>
            <p>this is third slide of the slides</p>
        </ion-slide>
    </ion-slides>
</ion-content>
